<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/MyFavicon.png">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Daniel Hodgins</h1>
        <p>Mathematics PHD Student</p>
    </header>

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/about.html">About</a></li>
            <!--<li><a href="/pages/contact.html">Contact</a></li>-->
            <!--<li><a href="/pages/cv.html">CV</a></li>-->
            <li><a href="/pages/teaching.html">Teaching</a></li>
            <li><a href="/pages/research.html">Research</a></li>
            <li><a href="/pages/projects.html">Projects</a></li>
            <!--<li><a href="/pages/blog.html">Blog</a></li>-->
            <!--<li><a href="/pages/publications.html">Publications</a></li>-->
            <li><a href="/pages/resources.html">Resources</a></li>
            <li><a href="/pages/gallery.html">Gallery</a></li>
        </ul>
    </nav>

    <div class="content">
        {{ content }}
    </div>
</body>
</html>
